body {
    background-color: white;
    margin: 0;
    padding: 0;
}

#titulo h1 {
    color: black;
    text-align: center;
    font-size: 60px;
}

#nombre {
    font-size: 25px;
    margin-left: 10px;
}
p#nombre:hover {
    text-decoration: underline;
}

div#redes a{
    text-align: center;
    display: inline-block;
}

div#redes {
    margin-top: 5%;
    margin-bottom: 5%;
}

div#textoprincipal {
    color: black;
    text-align: center;
    font-size: 40px;
    padding: 5%;
}

img {
    width: 1200px;
    height: 700px;
    max-width: 100%;
    height: auto;
    display: block;
   margin: 0 auto;
}

#buttongit img{
width: 120px;
height: auto;
}

#buttonlink img{
    width: 100px;
    height: auto;
}

#secundario h2{
    margin: 0;
}

div#secundario {
    background-color: black;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    font-size: clamp(1.5rem, 4vw, 3rem);
}

#parrafosdivididos p {
    font-size: xx-large;
    padding: 1%;
    justify-content: center;
    margin-top: 2%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}
div #parrafosdivididos {
    display: flex;
}

@media (max-width: 768px) {
    div#secundario h2{
        font-size: xx-large;
    }  
    div#secundario p{
        font-size: large; 
        }  
        div#textoprincipal {
            font-size: x-large;    
        }
}

@media (max-width: 425px) {
    div#textoprincipal {
        font-size: medium;    
    }
    #nombre {
        font-size: 12px;
        margin-left: 10px;
    }
    #titulo h1 {
        font-size: xx-large;
    }
    div#redes {
        font-size: 20px;
        text-align: left;
        margin-top: 5%;
        margin-left: 5%;
    }
    #buttongit img{
        width: 60px;
        height: auto;
    }
    #buttonlink img{
    width: 50px;
    height: auto;
    }
    div#secundario p{
    font-size: medium; 
    }
    div#secundario h2{
        font-size: large;
    }
    #botondesplegable {
        background-color: black;
    }
    #botondesplegable:hover {
        background-color: lightsalmon;
    }
}