body {
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    text-align: center;
    font-size: 50px;
}

#nombre {
    font-size: 25px;
    margin-left: 10px;
}
p#nombre:hover {
    text-decoration: underline;
}

div.redes {
    font-size: 30px;
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
}

div#textoprincipal {
    color: black;
    text-align: center;
    font-size: 40px;
    padding: 5%;
}

img {
    width: 1200px;
    height: 700px;
    max-width: 100%;
    height: auto;
    display: block;
   margin: 0 auto;
}

.secundario h2{
    margin: 0;
}

div#secundario {
    margin-top: 10%;
    background-color: black;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    font-size: clamp(1.5rem, 4vw, 3rem);
}

#parrafosdivididos p {
    padding: 1%;
    justify-content: center;
    margin-top: 2%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}
div #parrafosdivididos {
    display: flex;
}

@media (max-width: 425px) {
    #secundario {
        display: none;
    }
    div#textoprincipal {
        font-size: medium;    
    }
    #nombre {
        font-size: 12px;
        margin-left: 10px;
    }
    #titulo {
        font-size: x-large;
    }
    div.redes {
        font-size: 20px;
        text-align: left;
        margin-top: 5%;
        margin-left: 5%;
    }
}